<%= form_with(model: admin_gallery, local: true) do |form| %>
  <% if admin_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_gallery.errors.count, "error") %> prohibited this admin_gallery from being saved:</h2>

      <ul>
      <% admin_gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
