<div class="gn-line"></div>
<div class="section-title">
	<h4><a href="#">Noticias Recentes</a></h4>
</div>
<div class="post-wrap">
	<%= render partial: "/pages/inicio/noticias_recentes/post-wrap" %>
</div>
