<% @noticias_recentes.each do |noticia| %>
<article class="post">
  <div class="thumb">
    <a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= cl_image_tag(noticia.image.key, :transformation=>[{:width=>748,:height=>443,:crop=>"scale"}]) %></a>
  </div>
  <div class="content">
    <div class="cat">
      <!-- <a href="<%= root_url+'noticia/'+noticia.friendly_id %>">Não deixe de ler</a> -->
    </div>
    <h3><a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= noticia.title %></a></h3>
    <p class="excerpt-entry"><%= sanitize(truncate(strip_tags(noticia.text),:omission => "...", :length => 75)) %></p>
    <div class="post-meta">
      <span class="author">Por <a href="#"><%= noticia.admin_publisher.name %></a></span>
      <span class="time"> - <%= time_ago_in_words(noticia.created_at) %></span>
    </div>
  </div>
</article>
<% end %>
