<div class="thumb">
	<a href="#"><img src="images/thumbs/3.jpg" alt="img"></a>
</div>
<div class="content">
	<div class="cat">
		<a href="">Mustreads</a>
	</div>
	<h3><a href="#">If you wanted to get rich, how would you do it?</a></h3>
	<p class="excerpt-entry">Economically, you can think of a startup as a way to compress your whole working life into a few years.</p>
	<div class="post-meta">
		<span class="author">By <a href="#">Anna Chapman</a></span>
		<span class="time"> - 16 hours ago</span>
	</div>
</div>
