<%= form_with(model: admin_survey, local: true) do |form| %>
  <% if admin_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_survey.errors.count, "error") %> prohibited this admin_survey from being saved:</h2>

      <ul>
      <% admin_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :survey_id %>
    <%= form.number_field :survey_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
