<p id="notice"><%= notice %></p>

<h1>Admin Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Survey</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_surveys.each do |admin_survey| %>
      <tr>
        <td><%= admin_survey.title %></td>
        <td><%= admin_survey.survey_id %></td>
        <td><%= admin_survey.active %></td>
        <td><%= link_to 'Show', admin_survey %></td>
        <td><%= link_to 'Edit', edit_admin_survey_path(admin_survey) %></td>
        <td><%= link_to 'Destroy', admin_survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Survey', new_admin_survey_path %>
