<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_survey.title %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @admin_survey.survey_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @admin_survey.active %>
</p>

<%= link_to 'Edit', edit_admin_survey_path(@admin_survey) %> |
<%= link_to 'Back', admin_surveys_path %>
