<header id="header" class="header">
  <%= render partial: "layouts/header" %>
</header>
<!-- Main -->
<section id="main" class="contact-page">
	<%= render partial: "pages/contato/main" %>
</section>

<!-- Footer -->
<footer id="footer">
	<%= render partial: "layouts/footer" %>	
</footer>
<!-- Go Top -->
<a class="go-top">
	<i class="fa fa-chevron-up"></i>
</a>
