<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @admin_event.index %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@admin_event) %> |
<%= link_to 'Back', admin_events_path %>
