<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div id="sidebar2">
				<%= render partial: "pages/artigo/sidebar2" %>
			</div>
		</div>
		
		<div class="col-md-8">
			<% if defined?(@artigo) then %>
				<%= render partial: "pages/artigo/post-index" %>
				<% else %>
				<%= render partial: "pages/artigo/post-index-autor" %>
			<% end %>	
		</div>
	</div>
</div>
