<!-- post-wrap -->
<div class="post-wrap posts posts-list">
	<% @artigos.each do |artigo| %>
	<!-- post -->
	<article class="post">
		<!-- head-post -->
		<div class="head-post">
			<h2><a href=""><%= artigo.title %></a></h2>
			<p><%= artigo.subtitle %></p>
			<div class="meta">
				<span class="author">Por <a href="#"><%= artigo.admin_publisher.name %></a></span>
				<span class="time"> Publicado em <%= l artigo.date, :format => :short  %></span>
			</div>
		</div>
		<!-- body-post -->
		<div class="body-post">
			<!-- main-post -->
			<div class="main-post">
				<!-- entry-post -->
				<div class="entry-post">
					<p><%= artigo.article.html_safe %></p>
				</div>
				 <div class="tags">
					<h4>Neste Artigo:</h4>
					<a href="#">Startups</a>
					<a href="#">Technology</a>
					<a href="#">Millions of dollars</a>
					<a href="#">Paul Graham</a>
				</div> 
				<div class="load-comment">
					<a href="">Carregar Comentarios (35)</a>
				</div>
			</div>
		</div>
		
	</article>
	</div>
	<% end %>
	<div class="loadding">
		<span class="infinite"></span>
	</div>
</div>