<div class="tabs style2">
	<!-- /.menu-tab -->
	<ul class="menu-tab">
		<li class="active"><a href="#">Mais Populares</a></li>
		<li><a href="#">Ultimos Artigos</a></li>
	</ul>
	<!-- content-tab -->
	<div class="content-tab scroll">
		<div class="content">
			<!-- content-list -->
			<ul class="content-list">
				<% @artigos.each do |artigo| %> 
					<li><a href=""><%= artigo.subtitle %></a></li>
			    <% end %> 
			</ul>
		</div>
		<div class="content">
			<ul class="content-list">
				<% @artigos.each do |artigo| %> 
					<li><a href=""><%= artigo.subtitle %></a></li>
			    <% end %> 
			</ul>
		</div>
	</div>
</div>
<div class="toggle-panel" style="display: none"></div>