<h5 class="title">Twitter feed</h5>
<ul class="tweet_list">
    <li>
        <span class="tweet_time">Dec 25</span>
        <span class="tweet_text">Rachel Nabors talks about the State of Web Animation in 2014: <a href="http://buff.ly/1rZOfdY">buff.ly/1rZOfdY</a></span>
    </li>
    <li>
        <span class="tweet_time">Dec 25</span>
        <span class="tweet_text">Rachel Nabors talks about the State of Web Animation in 2014: <a href="http://buff.ly/1rZOfdY">buff.ly/1rZOfdY</a></span>
    </li>
    <li>
        <span class="tweet_time">Dec 25</span>
        <span class="tweet_text">Rachel Nabors talks about the State of Web Animation in 2014: <a href="http://buff.ly/1rZOfdY">buff.ly/1rZOfdY</a></span>
    </li>
</ul>
<div class="follow-us">
    <a href="#">Follow Us</a>
</div>
                