<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="about-page-wrap">
				<div class="content-right entry-page">
					<h2 class="title">Sobre Nós</h2>
					<p class="subtitle">O Campinapolis Agora é um portal de notícias independente, focado na produção on line - entregando o conteúdo direcionado para região do vale do araguaia.</p>
					<div class="simple-slider" data-auto="false" data-effect="slide" data-direction="horizotal">
						<div class="flexslider">
							<ul class="slides">
								<%= render partial: "/pages/sobre/slides" %>
							</ul>
						</div>
					</div>
					<p> Nosso diferencial.</p>
					<ul class="list">
						<li>Colaboradores da nossa cidade.</li>
						<li>Respeito a diferenças de opniões do nosso time.</li>
						<li>Programadores independetes.</li>
						<li>Liberdade de expressão.</li>
						<li>Compromisso com a verdade dos fatos.</li>
					</ul>
					<h5>Tem alguma pergunta?</h5>
					<p> entre em <a href="/contato">contato</a> com a gente.</p>
				</div>
				<div class="content-left">
					<ul class="about-links">
						<%= render partial: "/pages/sobre/about_links" %>
					</ul>
					<div class="about-twitter">
						<%#= render partial: "/pages/sobre/about_twitter" %>
					</div>
					<div class="about-contact">
						<%= render partial: "/pages/sobre/about_contact" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
