<div class="helpful">
	<a class="like" href="#">I found this helpful </a>
	<a class="dislike" href="#">I did not find this helpful</a>
</div>
<div class="tags">
	<a href="#">Startups</a>
	<a href="#">Technology</a>
	<a href="#">Millions of dollars</a>
	<a href="#">Paul Graham</a>
</div>
