<h2>Entrar</h2>
<%= content_tag(:div, flash[:error], :class => "alert alert-danger alert-dismissible fade show") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :class => "alert alert-success alert-dismissible fade show") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :class => "alert alert-danger alert-dismissible fade show") if flash[:alert] %>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,label: "Senha",
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me,label:"Me lembrar", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Entrar" %>
  </div>
<% end %>
<%= render "admin/users/shared/links" %>
