  <!-- Header -->
  <header id="header" class="header">
    <%= render partial: "pages/categoria/header" %>
  </header>

	<!-- Main -->
	<section id="main" class="category-page">
		<%= render partial: "pages/categoria/main" %>
	</section>

	<!-- Footer -->
	<footer id="footer">
	  <%= render partial: "layouts/footer" %>	
	</footer>

	<!-- Hide Navigation -->
	<nav role="navigation" class="navigation-panel" id="navigation-panel">
		<%= render partial: "pages/categoria/navigation" %>
	</nav>

	<!-- Go Top -->
	<a class="go-top">
		<i class="fa fa-chevron-up"></i>
	</a>
