<div class="top-wrap">
	<div class="container">
	<div id="hide-menu"></div>
		<div class="row">
			<div class="col-md-4 hide-nav">
				<div id="logo" class="logo logo2">
					<a href="" rel="home" title="Categoria">
						<img src="/images/logo.svg" alt="Campinapolis Agora" />
					</a>
				</div>
			</div>
			<div class="col-md-4 title-cat">
				<h1 class="title-page"><%= "Pesquisando: "+@pesquisa %></h1>
			</div>
		</div>
	</div>
</div>
