<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="post-wrap">
				<% @post.each do |post| %>
					<article class="post">
						<div class="thumb">
							<% if post.class == Admin::Article %>
							<a href="">
							<%
							if post.user_img.nil? then
								img = Cloudinary::Uploader.upload("https://avatars.io/facebook/"+post.admin_publisher.admin_user.uid)
								post.user_img = img["public_id"]
								post.save
							end
  							%>
							<%= cl_image_tag("artigos_jjm4d3", :overlay=>post.user_img,:height=>50, :width=>50,:gravity=>"west",:y=>-20,:x=>110) %>
							</a>
				<% end %>
		<% if post.class == Admin::News %>
			<a href=""><%= cl_image_tag(post.image.key, :transformation=>[{:width=>344,:height=>230,:crop=>"fill"}])%> </a>
		<% end %>	
	</div>
	<div class="content">
		<div class="cat">
			<a href="<%= root_path+'categoria/' %>"><%= @view_id %></a>
		</div>
		<h3>
		<% if post.class == Admin::News %>
			<a href="<%= root_path+'noticia/'+post.slug %>"><%= post.title.titleize %></a>
		<% end %>
		<% if post.class == Admin::Article %>
			<a href="<%= root_path+'artigo/'+post.slug %>"><%= post.title.titleize %></a>
		<% end %>
		</h3>
		<p class="excerpt-entry"><%#= post.subtitle %></p>
		<div class="activity">
			<span class="comment"><a href="<%#= root_url+'noticia/'+post.friendly_id+'#comments-list' %>"><%#= post.admin_news_comments.count %></a></span>
		</div>
	</div>
</article>
<% end %>
			</div>
		</div>
	</div>
</div>
