<!-- Header -->
<header id="header" class="header">
<div class="top-wrap">
	<div class="container">
	<div id="hide-menu"></div>
		<div class="row">
			<div class="col-md-4 hide-nav">
				<div id="logo" class="logo logo2">
					<a href="" rel="home" title="Categoria">
						<img src="/images/logo.svg" alt="Campinapolis Agora" />
					</a>
				</div>
			</div>
			<div class="col-md-4 title-cat">
				<h1 class="title-page">Mais Lidas</h1>
			</div>
		</div>
	</div>
</div>
</header>

<!-- Main -->
<section id="main" class="category-page">
    <div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="post-wrap">
                <% @post = @videos %>
				<% @post.each do |post| %>
					<article class="post">
						<div class="thumb">
		                    <% if post.class == Admin::News %>
			                    <a href=""><%= cl_image_tag(post.image.key, :transformation=>[{:width=>344,:height=>230,:crop=>"fill"}])%> </a>
		                    <% end %>	
	                    </div>
	                    <div class="content">
		                    <div class="cat">
			                    <a href="<%= root_path+'categoria/' %>"><%= @view_id %></a>
		                    </div>
		                    <h3>
		                        <% if post.class == Admin::News %>
			                        <a href="<%= root_path+'noticia/'+post.slug %>"><%= post.title.titleize %></a>
		                        <% end %>
		                    </h3>
		                    <p class="excerpt-entry"><%= post.subtitle %></p>
		                    <!-- <div class="activity">
			                    <span class="comment"><a href="<%#= root_url+'noticia/'+post.friendly_id+'#comments-list' %>"><%#= post.admin_news_comments.count %></a></span>
		                    </div> -->
	                    </div>
                    </article>
                <% end %>
			</div>
		</div>
	</div>
</div>

</section>

<!-- Footer -->
<footer id="footer">
    <%= render partial: "layouts/footer" %>	
</footer>

<!-- Hide Navigation -->
<nav role="navigation" class="navigation-panel" id="navigation-panel">
    <%= render partial: "pesquisa/navigation" %>
</nav>

<!-- Go Top -->
<a class="go-top">
    <i class="fa fa-chevron-up"></i>
</a>
