<div class="container">
	<div class="row">
		<div class="col-md-8">
		    <!-- /.gnSlider -->
		    <div class="gnSlider gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
		    	<%= render partial: "pages/inicio/ngSlider/index" %>
		    </div>
			
			<!-- /.featured-posts -->
			<div class="featured-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
				<%= render partial: "pages/inicio/ultimas_noticias/index" %>
			</div>
			<!-- /.popular-posts -->
			<div class="popular-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
				<%= render partial: "pages/inicio/mais_lidas/index" %>
			</div>
			<!-- /.editors-posts -->
			<div class="editors-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
				<%= render partial: "pages/inicio/noticias_recentes/index" %>
			</div>
		</div>

		<div class="col-md-4">
			<!-- /.sidebar -->
			<div class="sidebar-widget-1">
				<%= render partial: "pages/inicio/barra_lateral/index" %>
			</div>
		</div>

		<div class="col-md-12">
			<!-- /.trending-posts -->
			<div class="trending-posts">
				<%#= render partial: "pages/inicio/trending-posts/index" %>
			</div>
		</div>

		<div class="col-md-8">
			<!-- /.social-media-posts -->
			<div class="social-media-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
				<%#= render partial: "pages/inicio/social-media-posts/index" %>
			</div>
		</div>

		<div class="col-md-4">
			<!-- /.highlights-posts -->
			<div class="highlights-posts gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
				<%#= render partial: "pages/inicio/highlights-posts/index" %>
			</div>
		</div>
	</div>
</div>
