</br>
<div class="col-md-12">
    <h3 class="elements-title">VIDEOS</h3>
    <div class="tabs element">
        <ul class="menu-tab">
            <li><a href="#">JANEIRO</a></li>
            <li><a href="#">FEVEREIRO</a></li>
            <li><a href="#">MARÇO</a></li>
            <li><a href="#">ABRIL</a></li>
            <li><a href="#">MAIO</a></li>
            <li><a href="#">JUNHO</a></li>
            <li><a href="#">JULHO</a></li>
            <li><a href="#">AGOSTO</a></li>
            <li><a href="#">SETEMBRO</a></li>
            <li><a href="#">OUTUBRO</a></li>
            <li><a href="#">NOVEMBRO</a></li>
            <li><a href="#">DEZEMBRO</a></li>
        </ul>
        <div class="content-tab">
            <% videos_janeiro = Admin::Video.where('extract(month from date) = ?', 1) %>
            <% videos_fevereiro = Admin::Video.where('extract(month from date) = ?', 2) %>
            <% videos_marco = Admin::Video.where('extract(month from date) = ?', 3) %>
            <% videos_abril = Admin::Video.where('extract(month from date) = ?', 4) %>
            <% videos_maio = Admin::Video.where('extract(month from date) = ?', 5) %>
            <% videos_junho = Admin::Video.where('extract(month from date) = ?', 6) %>
            <% videos_julho = Admin::Video.where('extract(month from date) = ?', 7) %>
            <% videos_agosto = Admin::Video.where('extract(month from date) = ?', 8) %>
            <% videos_setembro = Admin::Video.where('extract(month from date) = ?', 9) %>
            <% videos_outubro = Admin::Video.where('extract(month from date) = ?', 10) %>
            <% videos_novembro = Admin::Video.where('extract(month from date) = ?', 11) %>
            <% videos_dezembro = Admin::Video.where('extract(month from date) = ?', 12) %>
            
            <div class="content">
                <% if videos_janeiro.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_janeiro.each do |video| %>
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content">
                <% if videos_fevereiro.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_fevereiro.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content">
                 <% if videos_marco.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_marco.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content">
                <% if videos_abril.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_abril.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content">
                <% if videos_maio.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_maio.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>


            <div class="content">
                <% if videos_junho.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_junho.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>


            <div class="content">
                <% if videos_julho.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_julho.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>


            <div class="content">
                <% if videos_agosto.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_agosto.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>


            <div class="content">
                <% if videos_setembro.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_setembro.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content">
                <% if videos_outubro.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_outubro.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content">
                <% if videos_novembro.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_novembro.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

            <div class="content">
                <% if videos_dezembro.count==0 %>
                    <h3 class="elements-title">Nenhum video encontrado</h3>
                <% end %>
                <% videos_dezembro.each do |video| %>
                <!-- <h3 class="elements-title">Toggles</h3> -->
                <div class="accordion">
                    <div class="toggle">
                        <div class="toggle-title"><%= video.title %></div>
                        <div class="toggle-content">
                            <!-- <p>kkk</p> -->
                            <%= cl_video_tag(video.video.key, :controls => true) %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>

        </div>
    </div>
</div>
