<header id="header" class="header">
  <%= render partial: "layouts/header" %>
</header>

<div class="container">
    <%= render partial: "/pages/video/main" %>
</div>
</br>

<footer id="footer">
  <%= render partial: "layouts/footer" %>	
</footer>

<a class="go-top">
  <i class="fa fa-chevron-up"></i>
</a>