<h3 class="elements-title">Alerts</h3>
<div class="alert alert-warning">Yes, you did it!</div>
<div class="alert alert-notice">Yes, you did it!</div>
<div class="alert alert-success">You are awesome.</div>
<div class="alert alert-error">Ooooo! Wait a minute! Error!</div>
