<h3 class="elements-title">Buttons</h3>
<div class="button-item">
  <a href="#" class="gn-button" onclick="return false;">Sign Up</a>
</div>
<div class="button-item">
  <a href="#" class="gn-button hover" onclick="return false;">Sign Up</a>
</div>
<div class="button-item">
  <a href="#" class="gn-button press" onclick="return false;">Sign Up</a>
</div>

<div class="clearfix"></div>

<div class="button-item">
  <a href="#" class="gn-button border" onclick="return false;">Secondary</a>
</div>
<div class="button-item">
  <a href="#" class="gn-button border hover" onclick="return false;">Secondary</a>
</div>
<div class="button-item">
  <a href="#" class="gn-button border press" onclick="return false;">Secondary</a>
</div>

<div class="clearfix"></div>

<div class="button-item no-margin">
  <a href="#" class="gn-button left-icon" onclick="return false;"><i class="fa fa-download"></i>Download</a>
  <span>normal</span>
</div>
<div class="button-item no-margin">
  <a href="#" class="gn-button right-icon hover" onclick="return false;">Download<i class="fa fa-download"></i></a>
  <span>on hover</span>
</div>
<div class="button-item no-margin">
  <a href="#" class="gn-button right-icon press" onclick="return false;">Download<i class="fa fa-download"></i></a>
  <span>on press button goes down to 1 px</span>
</div>
<div class="button-item no-margin">
  <a href="#" class="gn-button pause" onclick="return false;">Loading</a>
  <span>pause</span>
</div>

<div class="clearfix"></div>
