<section class="section-element">
  <h3 class="elements-title">Colors</h3>
  <div class="elements-content">
    <div class="elements-box-wrap">
      <div class="elements-box red"></div>
      <span class="text">Links</span>
      <span>#e8280b</span>
    </div>
  </div>
  <div class="elements-content">
    <div class="elements-box-wrap">
      <div class="elements-box black"></div>
      <span class="text">Text</span>
      <span>#181818</span>
    </div>
  </div>
  <div class="elements-content">
    <div class="elements-box-wrap">
      <div class="elements-box gray"></div>
      <span class="text">Secondary text</span>
      <span>#b7b7b7</span>
    </div>
  </div>
  <div class="clearfix"></div>
</section>
