<h3 class="elements-title">Dropdown List</h3>
<ul class="drop-list">
  <li class="nav-dropdown">
    <div class="drop-wrap">
      <a id="drop" role="button" href="#">About us</a>
    </div>
    <ul class="dropdown">
      <li><a href="#">About us</a></li>
      <li><a href="#">Happy team</a></li>
      <li><a href="#">Our Clients</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Jobs &amp; careers</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Policy</a></li>
    </ul>
  </li>
</ul>
