<section class="section-element">
  <h3 class="elements-title">Colors</h3>
  <p class="font-style">Roboto Google Font</p>
  <h3 class="elements-title">Icons</h3>
  <p class="font-style" style="margin-bottom: 0">Font Awesome (fontawesome.io)</p>
</section>
