<h3 class="elements-title">Forms</h3>
<div class="input-wrap">
  <input type="text" id="input_1" name="input_1" class="input-control" placeholder="Person of the 2013" />
  <span></span>
</div>
<div class="input-wrap">
  <input type="text" id="input_2" name="input_2" class="input-control" placeholder="Person of the 2013" />
  <span></span>
</div>
<div class="input-wrap">
  <input type="text" id="input_3" name="ninput_3" class="input-control error" placeholder="Person of the 2013" />
  <span class="error">Error! Its <strong>Jean Claude Van Damme!</strong></span>
</div>

<div class="check-wrap">
  <div class="radios">
    <span>Radio</span>
    <input type="radio" name="radiog_dark" id="radio1" class="css-radio" checked="checked"/><label for="radio1" class="css-label2"></label>
    <input type="radio" name="radiog_dark" id="radio2" class="css-radio" /><label for="radio2" class="css-label2"></label>
  </div>
  <div class="checks">
    <span>Checkbox</span>
    <input type="checkbox" name="check1" id="check1" class="css-checkbox" checked="checked"/><label for="check1" class="css-label"></label>
    <input type="checkbox" name="check2" id="check2" class="css-checkbox" /><label for="check2" class="css-label"></label>
  </div>
</div>
