<h3 class="elements-title">Galeria de Imagens</h3>
<div class="gn-gallery">
  <div id="gn-slider">
    <ul class="slides">
      <% Admin::Gallery.all.each do |imgs| %>
      <% imgs.images.each do |img| %>
      <li>
        <%# <a href=""> %>
          <%# <img alt="image" src="images/gallery/2.jpg"> %>
          <%= cl_image_tag(img.key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
        </a>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <div id="gn-carousel">
    <ul class="slides">
      <% Admin::Gallery.all.each do |imgs| %>
      <% imgs.images.each do |img| %>
        <li>
          <%# <img alt="image" src="images/gallery/2s.jpg"> %>
          <%= cl_image_tag(img.key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
        </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
<script type="text/javascript"> 
var cl = cloudinary.Cloudinary.new( { cloud_name: "campinapolis-com"}); 
cl.responsive(); 
</script>  