<h3 class="elements-title">Login</h3>
<div id="login-modal">
  <div class="login-by">
    <div class="log-face-w">
      <a class="log-facebook" href="#">Login with Facebook</a>
    </div>
    <div class="log-twit-w">
      <a class="log-twitter" href="#">Login with Twitter</a>
    </div>
  </div>
  <form id="loginform" name="loginform" method="post">
    <div class="email-wrap">
      <label for="user-email">Your email address</label>
      <input type="text" size="30" value="" class="input" id="user-email" name="log">
    </div>
    <div class="pass-wrap">
      <label for="user-pass">Password</label>
      <input type="password" size="30" value="" class="input" id="user-pass" name="password">
    </div>

    <div class="option-login">
      <div class="remember">
        <input type="checkbox" name="check3" id="check3" class="css-checkbox" checked="checked"/><label for="check3" class="css-label">Remember me</label>
      </div>
      <div class="forgot">
        <a href="#">I forgot my password</a>
      </div>
    </div>

    <div class="submit-login">
      <input type="submit" value="Log In" class="submit" id="submit" name="submit">
    </div>
  </form>
</div>
