<%# <div class="row"> %>
  <%# <div class="col-md-12"> %>
    <%#= render partial: "/pages/galeria/font" %>
  <%# </div><!-- /.col-md-12 --> %>

  <%# <div class="col-md-12"> %>
    <%#= render partial: "/pages/galeria/colors" %>
  <%# </div><!-- /.col-md-12 --> %>

  <%# <div class="col-md-12"> %>
    <%# <section class="section-element buttons"> %>
      <%#= render partial: "/pages/galeria/buttons" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-12 --> %>

  <%# <div class="col-md-12"> %>
    <%# <section class="section-element"> %>
      <%#= render partial: "/pages/galeria/form" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-12 --> %>

  <%# <div class="col-md-6"> %>
    <%# <section class="section-element"> %>
      <%#= render partial: "/pages/galeria/login" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-6 --> %>

  <%# <div class="col-md-6"> %>
    <%# <section class="section-element"> %>
      <%#= render partial: "/pages/galeria/dropdown" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-6 --> %>

  <%# <div class="col-md-12"> %>
    <%# <section class="section-element"> %>
      <%#= render partial: "/pages/galeria/price" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-12 --> %>

  <%# <div class="col-md-12"> %>
    <%# <section class="section-element"> %>
      <%#= render partial: "/pages/galeria/tabs" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-12 --> %>

  <%# <div class="col-md-8"> %>
    <%# <section class="section-element"> %>
      <%#= render partial: "/pages/galeria/toggles" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-8 --> %>

  <%# <div class="col-md-8"> %>
    <%# <section class="section-element"> %>
      <%#= render partial: "/pages/galeria/alerts" %>
    <%# </section> %>
  <%# </div><!-- /.col-md-8 --> %>

  <div class="col-md-12">
      <%= render partial: "/pages/galeria/gallery" %>
  </div>
  
  <!-- /.col-md-6 -->

<%# </div><!-- /.row --> %>

<%# <section class="section-element columns"> %>
  <%#= render partial: "/pages/galeria/columns"%>
<%# </section> %>
