<h3 class="elements-title">Price Table</h3>
<div class="price-section">
  <h3 class="price-section-title">Free for 30 days.</h3>
  <p class="price-section-des">After your trial ends, pick a plan that best fits your needs.</p>
  <div class="price-table-wrap">
    <div class="price-table">
      <ul class="pricing-table">
        <li class="heading-row">
          <span class="pricing-title">Economy</span>
          <span class="pricing-month">$4/month</span>
        </li>
        <li><span>10</span> Small Cake </li>
        <li><span>50</span> Cups of Coffee </li>
        <li><span>20</span> Apples </li>
        <li><span>Some</span> Sugar </li>
        <li><span>Unlimitted</span> Milk </li>
        <li><a href="#" class="gn-button">Choose Plan </a></li>
      </ul>
    </div><!-- /.pricing-table -->
    <div class="price-table featured">
      <ul class="pricing-table">
        <li class="heading-row">
          <span class="pricing-title">Deluxe</span>
          <span class="pricing-month">$9/month</span>
          <span class="featured-price"></span>
        </li>
        <li><span>10</span> Small Cake </li>
        <li><span>50</span> Cups of Coffee </li>
        <li><span>20</span> Apples </li>
        <li><span>Some</span> Sugar </li>
        <li><span>Unlimitted</span> Milk </li>
        <li><a href="#" class="gn-button">Choose Plan </a></li>
      </ul>
    </div><!-- /.pricing-table -->
    <div class="price-table">
      <ul class="pricing-table">
        <li class="heading-row">
          <span class="pricing-title">Business</span>
          <span class="pricing-month">$16/month</span>
        </li>
        <li><span>10</span> Small Cake </li>
        <li><span>50</span> Cups of Coffee </li>
        <li><span>20</span> Apples </li>
        <li><span>Some</span> Sugar </li>
        <li><span>Unlimitted</span> Milk </li>
        <li><a href="#" class="gn-button">Choose Plan </a></li>
      </ul>
    </div><!-- /.pricing-table -->
  </div>
  <div class="clearfix"></div>
</div>
