<h3 class="elements-title">Toggles</h3>
<div class="accordion">
  <div class="toggle">
    <div class="toggle-title active">I wish I didn't work so hard</div>
    <div class="toggle-content">
      <p>The alarming thing is, the mistakes that produce these regrets are all errors of omission. You forget your dreams, ignore your family, suppress your feelings, neglect your friends, and forget to be happy. Errors of omission are a particularly dangerous type of mistake, because you make them by default. I would like to avoid making these mistakes. But how do you avoid mistakes you make by default? </p>
    </div>
  </div><!-- /toggle -->
  <div class="toggle">
    <div class="toggle-title">I wish I had stayed in touch with my friends</div>
    <div class="toggle-content">
      <p>The alarming thing is, the mistakes that produce these regrets are all errors of omission. You forget your dreams, ignore your family, suppress your feelings, neglect your friends, and forget to be happy. Errors of omission are a particularly dangerous type of mistake, because you make them by default. I would like to avoid making these mistakes. But how do you avoid mistakes you make by default? </p>
    </div>
  </div><!-- /.toggle -->
  <div class="toggle">
    <div class="toggle-title">I wish I had stayed in touch with my friends</div>
    <div class="toggle-content">
      <p>The alarming thing is, the mistakes that produce these regrets are all errors of omission. You forget your dreams, ignore your family, suppress your feelings, neglect your friends, and forget to be happy. Errors of omission are a particularly dangerous type of mistake, because you make them by default. I would like to avoid making these mistakes. But how do you avoid mistakes you make by default? </p>
    </div>
  </div><!-- /.toggle -->
</div><!-- /.accordion -->
