<!-- Header -->
<header id="header" class="header">
  <%= render partial: "layouts/header" %>
</header>

<div class="container">
<!-- Main -->
<section id="main">
  <% if not flash[:success].nil? then %>
    <div class="alert alert-success">Obrigado pela participação. Sua opnião foi registrada com sucesso!</div>
  <% end %>
  <% if not flash[:token].nil? then %>
    <div class="alert alert-error">Seu token do Facebook está incorreto!</div>
  <% end %>
  <% if not flash[:newsletter].nil? then %>
    <div class="alert alert-success"><%= flash[:newsletter] %></div>
  <% end %>
  
  <!-- #newsletter confirmation -->
  <% if not flash[:newsletter_confirmation].nil? %>
    <% if flash[:newsletter_confirmation]["sucesso"].kind_of?(String) then %>
      <div class="alert alert-success"><%= flash[:newsletter_confirmation]["sucesso"] %></div>
    <% end %>
    <% if flash[:newsletter_confirmation]["erro"].kind_of?(String) then %>
      <div class="alert alert-error"><%= flash[:newsletter_confirmation]["erro"] %></div>
    <% end %>
  <% end %>

  <!-- #mensaggem de validators -->
  <% if not flash[:validators].nil? %>
    <% if flash[:validators].kind_of?(String) then %>
      <div class="alert alert-error"><%= flash[:validators] %></div>
    <% end %>
  <% end %>

  <%= render partial: "pages/inicio/main" %>
</section>
</div>

<!-- Footer -->
<footer id="footer">
  <%= render partial: "layouts/footer" %>
</footer>

<!-- Login and Signup Form -->
<div id="login-modal" class="login popup" style="display: none;">
	<%= render partial: "layouts/login_modal" %>
</div>
<div id="signup-modal" class="popup" style="display: none;">
  <%= render partial: "layouts/signup_modal" %>
</div>

<!-- Go Top -->
<a class="go-top">
	<i class="fa fa-chevron-up"></i>
</a>
