		<div class="gn-line"></div>
						<div class="section-title">
							<h4><a href="#">Social Media</a></h4>
						</div>
						<article class="post">
							<div class="thumb">
								<a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
							</div>
							<div class="content">
								<div class="cat">
									<a href="#">Mustreads</a>
								</div>
								<h3><a href="#">If you wanted to get rich.</a></h3>
								<p class="excerpt-entry">I think your best bet would be to start or join a startup. That's been a reliable way to get rich for hundreds of years.</p>
								<div class="activity">
									<span class="views">345</span><span class="comment"><a href="#">15</a></span>
								</div>
							</div>
						</article><!--  /.post -->
						<article class="post">
							<div class="thumb">
								<a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
							</div>
							<div class="content">
								<div class="cat">
									<a href="#">Mustreads</a>
								</div>
								<h3><a href="#">Startups are not magic.</a></h3>
								<p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s, but what happens in one is very similar.</p>
								<div class="activity">
									<span class="views">345</span><span class="comment"><a href="#">15</a></span>
								</div>
							</div>
						</article><!--  /.post -->
						<article class="post">
							<div class="thumb">
								<a href="#"><img src="images/thumbs/6.jpg" alt="img"></a>
							</div>
							<div class="content">
								<div class="cat">
									<a href="#">Mustreads</a>
								</div>
								<h3><a href="#">They don't change the laws of wealth creation.</a></h3>
								<p class="excerpt-entry">That's been a reliable way to get rich for hundreds of years.The word "startup" dates from the 1960s.</p>
								<div class="activity">
									<span class="views">345</span><span class="comment"><a href="#">15</a></span>
								</div>
							</div>
						</article><!--  /.post -->
				