								<div class="avatar-author">
									<img src="images/author.jpg" alt="image">
								</div>
								<div class="info-author">
									<h4>Angela Snow</h4>
									<p>John is an American Graphic &amp; Web Designer, Pixel &amp; CSS lover, WordPress &amp; coffee addict. He loves UI and UX design for mobile and web apps.</p>
								</div>