<div class="flex-container">
	<div class="flexslider loading">
		<ul class="slides">
			<% @noticias_do_slider.each do |noticia| %>
			<li>
				<div class="item-wrap">
					<%= cl_image_tag(noticia.image.key, :transformation=>[{:width=>800,:height=>600,:crop=>"scale"}])
					%>
					<%#= cl_image_tag(noticia.image.key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"scale", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %> 
					<p class="item" data-bottomtext="0"><a style="color:white" href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= noticia.title.titleize %></a></p>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>
