<article class="post">
										<div class="thumb">
											<a href="#"><img src="images/thumbs/7.jpg" alt="img"></a>
										</div>
										<div class="cat">
											<a href="">Social media</a>
										</div>
										<h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
										<div class="activity">
											<span class="views">12</span><span class="comment"><a href="#">0</a></span>
										</div>
									</article><!-- /.post -->