<% if admin_user_signed_in? %>
<% nome = current_admin_user.name %>
<% email = current_admin_user.email %>
<% uid = current_admin_user.uid %>
<% if not flash[:success].nil? then %>
  <div class="alert alert-success">Seu comentario foi enviado com sucesso!</div>
<% end %>
<h4 class="title">Junte-se a conversa</h4>
<!-- comment-form -->
<form class="comment-form" id="comment-form" method="post" name="comments" action="/admin/news_comments">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= hidden_field_tag :"admin_news_comment[admin_news_id]", @noticia.id %> 
	<%= hidden_field_tag :"admin_news_comment[uid]", uid %> 
	<div class="name-comment">
		<input type="text" size="32" value="<%= nome %>" tabindex="1" placeholder="Nome Completo" name="admin_news_comment[name]" id="admin_news_comment_name" readonly>
	</div>
	<div class="email-comment">
		<input class="email-comment" type="text" size="32" value="<%= email %>" tabindex="2" placeholder="Email" name="admin_news_comment[email]" id="admin_news_comment_mail"  required readonly>
		<span>Não será publicado</span>
	</div>
	<div class="message-comment">
		<textarea tabindex="4" placeholder="Mensagem" name="admin_news_comment[message]" required></textarea>
	</div>
	<div class="submit-comment">
		<input class="send-btn gn-button" type="submit" value="Enviar" id="submit-comment" name="submit-comment">
	</div>
</form>
<% end %>