<h4 class="title"><%= @numero_de_comentarios %> Comentarios</h4>
<ul>
	<li>
	    <!-- comment -->
		<% if not @comentarios.nil? %>
		<% @comentarios.each do |comentario| %>
		<% uid = comentario.uid %>
		<% img = "https://avatars.io/facebook/"+uid %>	
		<article class="comment">
			<div class="comment-order"><%= comentario.id %></div>
			<div class="avatar">
				<img src="<%= img %>" alt="image">
			</div>
			<div class="comment-text">
				<div class="comment-head">
					<span class="author"><%= comentario.name.titleize %></span>
					<span class="date"><%= l comentario.created_at,format: :short  %></span>
					<!-- <span class="reply"><a href="#">Responder</a></span> -->
				</div>
				<p class="comment-body"><%= comentario.message %></p>
			</div>                     
		</article>
		<% end %>
		<% end %>
	</li>
</ul>