<% if not @noticia.nil? %>
<h2><%= @noticia.title %></h2>
<p><%= @noticia.subtitle %></p>
<div class="meta">
	<span class="author">Por <a href=""><%= @noticia.admin_publisher.name %></a></span>
	<span class="time"> <%= "Publicado em #{l @noticia.date,format: :short}" %></span>
</div>
<div class="meta">
	<span class="author">Fonte: <a href="<%= @noticia.url %>" target="_blank"><%= @noticia.source %></a></span>
</div>
<% end %>