<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="post-wrap posts post-single">
				<article class="post">
					<!-- head-post -->
					<div class="head-post">
						<%= render partial: "pages/noticia/head_post" %>
					</div>
					<div class="body-post">
						<!-- share-post -->
						<div class="share-post">
							<%= render partial: "pages/noticia/share_post" %>
						</div>
						<div class="main-post">
							<!-- entry-post -->
							<div class="entry-post">
								<%=render partial: "pages/noticia/entry_post"%>
							</div>
							<!-- help-post -->	
							<!-- <div class="help-post">
								<%####################################################
								render partial: "pages/article_detail/help-post/index"
								######################################################%>
							</div>
							-->
							<div class="fb-like" data-href="<%= request.url %>" data-width="" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
							<%# if not admin_user_signed_in? %>
							<!--	<div class="col-md-6">
  								<%# if current_admin_user.blank? %>
								  --> 
    								<!--<button class="loginBtn loginBtn--facebook" onclick="location.href = '/admin/users/auth/facebook';">
            							Para fazer um comentario clique aqui
        							</button>
									-->
    								<%# end %>
							<!--	</div> -->

							<%# end %>
							<!-- author-post -->
							<div class="author-post">
								<%######################################################
								render partial: "pages/article_detail/author-post/index"
								########################################################%>
							</div>
							<div class="comment-post">
								<!-- comments-list -->
								<a name="comments-list">
								<div class="comments-list" id="comments-list">
									<%#= render partial: "pages/noticia/comments_list" %>
									<div class="fb-comments" data-href="<%= request.url %>" data-width="550" data-numposts="100"></div>
								</div>
								</a>
								<!-- /#respond -->
								<div id="respond" class="comment-respond">
									<%#= render partial: "pages/noticia/comment_respond" %>
								</div>
							</div>
							<!-- /.relate-posts -->
							<!-- <div class="relate-posts">
								<div class="section-title">
									<h4><a href="">Leia Também</a></h4>
								</div>
								<div class="post-wrap">
									--><!-- /.post -->
									<!-- <article class="post">
										<%##################################################
										render partial: "pages/article_detail/post/index"
										####################################################%>
									</article>
								</div>
							</div>
							-->
							<!-- /.recommend-posts -->
							<!-- 
							<div class="recommend-posts">
								<div class="section-title">
									<h4><a href="">Recomendado pra Você</a></h4>
								</div>
								<div class="post-wrap">
									<%#####################################################
									render partial: "pages/article_detail/post-wrap/index"
									######################################################%>
								</div>
							</div>
							-->
						</div>
					</div>
				</article>
			</div>
		</div>
		<div class="col-md-3">
			<div class="widget widget-ads gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
				<%= render partial: "pages/inicio/barra_lateral/ad" %>
			</div>
		</div>
		<!-- /.widget-ads -->
	</div>
</div>
