<ul>
	<li class="count-share"><span class="numb"><%= @noticia.hits %></span><span style="font-size: 15px !important;font-weight: bold;">Visualizações</span></li>
<!--
	<li class="facebook"><a href="">Facebook</a></li>
	<li class="twitter"><a href="">Twitter</a></li>
	<li class="more"><a href="">More</a></li>
	<li class="email"><a href="">Email</a></li>
 -->
&nbsp;&nbsp;&nbsp;<div class="fb-share-button" data-href="<%= request.url %>" data-layout="button" data-size="large"><a target="_blank" href="<%= request.url %>%" class="fb-xfbml-parse-ignore"></a></div>
&nbsp;&nbsp;&nbsp;<a href="" id="whatsapp-share-btt" rel="nofollow" target="_blank"><img src="https://fdn.gsmarena.com/imgroot/news/19/06/whatsapp-status-sharing/-728x314/gsmarena_001.jpg" width="116" height="70" title="compartilhar no whatsapp" alt="compartilhar no whatsapp"></a>
<%#= social_share_button_tag('Compartilhar no Facebook', :url => request.original_url, desc: @noticia.subtitle) %>
<hr>
</ul>
<script>
//Constrói a URL depois que o DOM estiver pronto
document.addEventListener("DOMContentLoaded", function() {
    //conteúdo que será compartilhado: Título da página + URL
    var conteudo = encodeURIComponent(document.title + " " + window.location.href);
    //altera a URL do botão
    document.getElementById("whatsapp-share-btt").href = "https://api.whatsapp.com/send?text=" + conteudo;
}, false);
</script>
