<% if not admin_user_signed_in? %>
<div class="col-md-6">
    <div class="btn-menu"></div>
        <div class="member-area">
            <%# <span class="signup-popup"><a href="#signup-modal">Entrar</a></span> %>
            <%# <span class="login-popup"><a href="#login-modal"></a></span> %>
            <%	if not current_admin_user.blank? %> 
                <% if current_admin_user.provider == "facebook"%>
                    <span class="signup-popup"><a href="#signup-modal"><%= current_admin_user.uid %></a></span>
                <% end %>
            <% else %>
                <button class="loginBtn loginBtn--facebook" onclick="location.href = '/admin/users/auth/facebook';">
                    Para comentar clique aqui
                </button>
            <% end %>
        </div>
    </div>
</div>
<% else %>
<% 
nome = current_admin_user.name
img = "https://avatars.io/facebook/"+current_admin_user.uid
%>
<div class="col-md-6">
    <div class="btn-menu"></div>
        <div class="member-area">
            <div class="member">
                <div class="welcome">
                    Bem Vindo <span class="name"><%= nome %></span>
                    <div class="member-options">
                        <div class="avatar">
                            <div class="thumb">
                                <img src="<%= img %>" alt="image">
                            </div>
                            <span class="fullname"><%= nome %></span>
                        </div>
                        <ul class="options">
                            <!-- <li><a href="#">My Profile</a></li> -->
                            <!-- <li><a href="#">My Account</a></li> -->
                            <!-- <li><a href="#">My Saved Items</a></li> -->
                        </ul>
                        <div class="logout"><a href="/admin/users/sign_out">Sair</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>