<h2>Contacts</h2>
<div class="contact-info">
	<p class="title">Main Office:</p>
	<p>Address: 1600 Pennsylvania Ave NW, Washington, DC 20500</p>
	<p>Phone: +990 (312) 123 45 67</p>
	<p>Email: hello@domain.com</p>
</div>
<div class="contact-info">
	<p class="title">Secondary Office:</p>
	<p>Address: 1600 Pennsylvania Ave NW, Washington, DC 20500</p>
	<p>Phone: +990 (312) 123 45 67</p>
	<p>Email: hello@domain.com</p>
</div>
<div class="contact-info">
	<p class="title">Business Hours:</p>
	<p>Monday - Friday: 08:00 - 17:59</p>
	<p>Saturday - Sunday: 09:00 - 13:59</p>
	<ul class="contact-social">
		<li><a href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#"><i class="fa fa-pinterest"></i></a></li>		
	</ul>
	<div class="clearfix"></div>
</div>