<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="content-left">
				<%= render partial: "pages/contato/content-left/index" %>
				</form>
			</div>
		</div>
		<div class="col-md-3">
			<div class="content-right">
				<%#= render partial: "pages/contato/content-right/index" %>
			</div>
		</div>
		<div class="col-md-12">
			<h2 class="title-map">No Mapa</h2>
			<div id="map" style="width: 100%; height: 550px">
			</div>
		</div>
	</div>
</div>


