<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Campinapolis Agora" %></title>
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="description" content="">
  <meta name="keywords" content="noticias">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/colors/color2.css" id="colors">
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
  <link href="/icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="/icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="/icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="/icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="/icon/favicon.png" rel="shortcut icon">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <script src="/bower_components/lodash/lodash.js" type="text/javascript"></script> 
  <script src="/bower_components/cloudinary-core/cloudinary-core.js" type="text/javascript"></script>
  <%= render '/application/favicon' %>
  <!--[if lt IE 9]>
  <script src="/javascript/html5shiv.js"></script>
  <script src="/javascript/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<%= '<body class="change-panel"'.html_safe if controller_name == "artigo" %>
<%= '<body>'.html_safe if controller_name == "inicio" %>
<%= '<body>'.html_safe if controller_name == "noticia" %>
<%= '<body class="hide-navigation">'.html_safe if controller_name == "categoria" %>
 <!-- Header -->
    <header id="header" class="header">
        <div class="top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="logo" class="logo">
                            <a href="./" rel="home" title="home">
                                <img src="/images/logo.svg" alt="Good News" />
                            </a>
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
             </div><!-- /.container -->
        </div><!-- /.top-wrap -->
    </header>

    <!-- Elements -->
    <section class="section error-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-md-offset-3 col-sm-offset-0">
                    <div class="error-wrap">
                        <h2>Ooops! Pagina não Encontrada.</h2>
                        <p>Se você entrou com um endereço de uma pagina veja se ele está correto.<br>Tente pesquisar.</p>
                        <form action="#" id="searchform" method="get">
                            <input type="text" id="s" placeholder="Pesquisar">
                            <input type="submit" value="Search" id="searchsubmit">
                        </form>
                        <div class="go-home">
                            <a href="/" class="gn-button">Volar para o Início</a>
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- Footer -->
<footer id="footer">
  <%= render partial: "layouts/footer" %>
</footer>
<%= '</body>'.html_safe %>
<%= '</html>'.html_safe %>
