<!-- Banner -->
<section id="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="banner">
					<div class="banner-image">
						<div class="overlay"></div>
						<%# <img src="images/banner.jpg" alt="image"> %>
						<%= cl_image_tag(@eventos[rand(0..@eventos.count-1)].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
						<div class="banner-text">
							<%# <h2><a href="#"><%= @ultimo_evento.title %></a></h2> %>
							<%# <h3>A map captures the Martian craters, valleys and peaks</h3> %>
							<%# <p>By <a href="#">MIKE TYSON</a></p> %>
						</div>
					</div>
					<div class="banner-items">
						<div class="post">
							<div class="thumb">
								<%# <img src="images/thumbs/10.jpg" alt="image"> %>
								<%= cl_image_tag(@eventos[rand(0..@eventos.count-1)].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
							</div>
							<div class="content">
								<div class="cat">
									<a href=""><%= l @eventos[0].date, format: :long  %></a>
								</div>
								<h4><a href="#"><%= @eventos[0].title %></a></h4>
							</div>
						</div>
						<div class="post">
							<div class="thumb">
								<%# <img src="images/thumbs/10.jpg" alt="image"> %>
						 		<%= cl_image_tag(@eventos[0].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
							</div>
							<div class="content">
								<div class="cat">
									<a href=""><%= l @eventos[0].date, format: :long  %></a>
								</div>
								<h4><a href="#"><%= @eventos[0].title %></a></h4>
							</div>
						</div>
						<div class="post">
							<div class="thumb">
								<%# <img src="images/thumbs/10.jpg" alt="image"> %>
								<%= cl_image_tag(@eventos[0].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
							</div>
							<div class="content">
								<div class="cat">
									<a href=""><%= l @eventos[0].date, format: :long  %></a>
								</div>
								<h4><a href="#"><%= @eventos[0].title %></a></h4>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div><!-- /.banner --> 
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- Main -->
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
	
			</div><!-- /.col-md-8 -->
			<div class="col-md-4">
				<div class="sidebar-widget-1">
					<%# <div class="widget widget-ads">
						<a href="#"><img src="images/ad.jpg" alt="image"></a>
						<p class="text-ad">Advertisement</p>
					</div><!-- /.widget-ads --> %>
				</div><!-- /.sidebar -->
			</div><!-- /.col-md-4 -->
			<%# <div class="col-md-12">
				<div class="gnSlider">
					<div class="flex-container">
						<div class="flexslider loading">
							<ul class="slides">
								<li style="background:url(images/slider/1.jpg) no-repeat;background-position:50% 0">
									<div class="item-wrap">
										<p class="item" data-bottomtext="0">Kenneth Cole Challenges You to Do Good Deeds — and Prove it via Google Glass</p>
									</div>
								</li>
								<li style="background:url(images/slider/2.jpg) no-repeat;background-position:50% 0">
									<div class="item-wrap">
										<p class="item" data-bottomtext="0">Kenneth Cole Challenges You to Do Good Deeds — and Prove it via Google Glass</p>
									</div>
								</li>
								<li style="background:url(images/slider/3.jpg) no-repeat;background-position:50% 0">
									<div class="item-wrap">
										<p class="item" data-bottomtext="0">Kenneth Cole Challenges You to Do Good Deeds — and Prove it via Google Glass</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- /.gnSlider --> %>
			</div><!-- /.col-md-12 -->
			<div class="col-md-12">
				<div class="trending-posts">
					<div class="gn-line"></div>
					<div class="section-title">
						<h4><a href="#">Recentes</a></h4>
					</div>
					<div class="one-fourth">
						<article class="post first">
							<div class="thumb">
								<%# <a href="#"><img src="images/thumbs/5.jpg" alt="img"></a> %>
								<%= cl_image_tag(@eventos[rand(0..@eventos.count-1)].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
							</div>
							<span class="date">October 6, 2013</span>
							<h3><a href="/evento/<%= @eventos[0].id %>"><%= @eventos[0].title %></a></h3>
						</article><!--  /.post -->
					</div>
					<div class="one-fourth">
						<article class="post first">
							<div class="thumb">
								<%# <a href="#"><img src="images/thumbs/5.jpg" alt="img"></a> %>
								<%= cl_image_tag(@eventos[rand(0..@eventos.count-1)].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
							</div>
							<span class="date">October 6, 2013</span>
							<h3><a href="/evento/<%= @eventos[0].id %>"><%= @eventos[0].title %></a></h3>
						</article><!--  /.post -->
					</div>
					<div class="one-fourth">
						<article class="post first">
							<div class="thumb">
								<%# <a href="#"><img src="images/thumbs/5.jpg" alt="img"></a> %>
								<%= cl_image_tag(@eventos[rand(0..@eventos.count-1)].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
							</div>
							<span class="date">October 6, 2013</span>
							<h3><a href="/evento/<%= @eventos[0].id %>"><%= @eventos[0].title %></a></h3>
						</article><!--  /.post -->
					</div>
					<div class="one-fourth last">
						<article class="post first">
							<div class="thumb">
								<%# <a href="#"><img src="images/thumbs/5.jpg" alt="img"></a> %>
								<%= cl_image_tag(@eventos[rand(0..@eventos.count-1)].images[0].key, :width => :auto,:responsive => :true,:dpr => :auto,:aspect_ratio=>"16:9",:client_hints => :true, :crop=>"fill", :responsive_placeholder => "blank",quality: "auto",fetchFormat: "auto") %>
							</div>
							<span class="date"><%= l @eventos[0].date, format: :long  %></span>
							<h3><a href="/evento/<%= @eventos[0].id %>"><%= @eventos[0].title %></a></h3>
						</article><!--  /.post -->
					</div>
				</div><!-- /.trending-posts -->
				<div class="gn-line"></div>
			</div>
		</div>
	</div>
</section>

<!-- Go Top -->
<a class="go-top">
	<i class="fa fa-chevron-up"></i>
</a>
