<input class="form-control" required="required" size="50" type="text" name="admin_advertisement[customer]" id="admin_advertisement_customer">
<script>
$('document').ready(function() {
	$("#admin_advertisement_link_status").change(function () {
		console.log("mmmm");
		var end = this.value;
		if (end == 1){
			$('#admin_advertisement_link_field').remove();
		}else{
			if (end == 0){
				var campo = '<div class="form-group control-group string_type link_field " id="admin_advertisement_link_field"><label class="col-sm-2 control-label" for="admin_advertisement_link">Link</label><div class="col-sm-10 controls"><input class="form-control" size="50" type="text" name="admin_advertisement[link]" id="admin_advertisement_link">';
  				$('#link').append(campo);
			}
		}
	});
})
</script>