<%= form_with(model: admin_short_url, local: true) do |form| %>
  <% if admin_short_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_short_url.errors.count, "error") %> prohibited this admin_short_url from being saved:</h2>

      <ul>
      <% admin_short_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_news_id_id %>
    <%= form.text_field :admin_news_id_id %>
  </div>

  <div class="field">
    <%= form.label :short_url_key %>
    <%= form.text_field :short_url_key %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
