<p id="notice"><%= notice %></p>

<h1>Admin Short Urls</h1>

<table>
  <thead>
    <tr>
      <th>Admin news</th>
      <th>Short url key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_short_urls.each do |admin_short_url| %>
      <tr>
        <td><%= admin_short_url.admin_news_id %></td>
        <td><%= admin_short_url.short_url_key %></td>
        <td><%= link_to 'Show', admin_short_url %></td>
        <td><%= link_to 'Edit', edit_admin_short_url_path(admin_short_url) %></td>
        <td><%= link_to 'Destroy', admin_short_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Short Url', new_admin_short_url_path %>
