<p id="notice"><%= notice %></p>

<p>
  <strong>Admin news:</strong>
  <%= @admin_short_url.admin_news_id %>
</p>

<p>
  <strong>Short url key:</strong>
  <%= @admin_short_url.short_url_key %>
</p>

<%= link_to 'Edit', edit_admin_short_url_path(@admin_short_url) %> |
<%= link_to 'Back', admin_short_urls_path %>
