<% ultima_noticia = @ultima_noticia %>
<article class="post">
  <div class="thumb">
    <a href="<%= root_url+'noticia/'+ultima_noticia.friendly_id %>"><%= cl_image_tag(ultima_noticia.image.key, :transformation=>[{:width=>748,:height=>443,:crop=>"scale"}]) %></a>
  </div>
  <div class="cat">
    <a href="<%= "/"+'categoria/noticias/'+Admin::Category.find(ultima_noticia.admin_category.id).slug %>"><%= Admin::Category.find(ultima_noticia.admin_category.id).name %></a>
  </div>
  <h3><a href="<%= root_url+'noticia/'+ultima_noticia.friendly_id %>"><%= ultima_noticia.title %> </a></h3>
  <p class="excerpt-entry"><%= sanitize(truncate(strip_tags(ultima_noticia.text),:omission => "... (continua)", :length => 150)) %></p>
  <div class="post-meta">
    <span class="author">Por <a href="#"><%= ultima_noticia.admin_publisher.name %></a></span>
    <div class="activity">
      <span class="views"><%= ultima_noticia.hits %></span>
      <span class="comment" id="fb_share_count_2"><a href="<%= root_url+'noticia/'+ultima_noticia.friendly_id+'#comments-list' %>"></a></span>
    </div>
  </div>
</article>

<script>
var token = '459725378184662|e67f78b949ab38e07329a3ea3f4c07f9', 
url = '<%= root_url+'noticia/'+ultima_noticia.friendly_id %>';
$.ajax({
	url: 'https://graph.facebook.com/v3.0/',
	dataType: 'jsonp',
	type: 'GET',
	data: {fields: 'engagement', access_token: token, id: url},
	success: function(data){
 		//console.log(data);
 		$('#fb_share_count_2').append(data.engagement.share_count);
	},
	error: function(data){
    //console.log(data);
    return;
  }
});
</script>

