<% ultimas_noticias = @ultimas_noticias %>
<% cont = 0 %>
<% ultimas_noticias.each do |noticia| %>
<% cont += 1 %>
<article class="post">
  <div class="thumb">
    <a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= cl_image_tag(noticia.image.key, :transformation=>[{:width=>748,:height=>443,:crop=>"scale"}]) %></a>
  </div>
  <div class="cat">
    <a href="<%= "/"+'categoria/noticias/'+Admin::Category.find(noticia.admin_category.id).slug %>"><%= Admin::Category.find(noticia.admin_category.id).name %></a>
  </div>
  <h3><a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= sanitize(truncate(strip_tags(noticia.text),:omission => "...", :length => 75)) %></a></h3>
  <div class="activity">
    <span class="views"><%= noticia.hits %></span>
    <span class="comment" id="fb_share_count_3_<%= cont %>"><a href="<%= root_url+'noticia/'+noticia.friendly_id+'#comments-list' %>"></a></span>
  </div>
</article>
<script>
$(document).ready(function() {
  var token = '459725378184662|e67f78b949ab38e07329a3ea3f4c07f9',
  url = '<%= root_url+'noticia/'+noticia.friendly_id %>';
  $.ajax({
    url: 'https://graph.facebook.com/v3.0/',
    dataType: 'jsonp',
    type: 'GET',
    data: { fields: 'engagement', access_token: token, id: url },
    success: function(data) {
      //console.log(data);
      $('#fb_share_count_3_<%= cont %>').append(data.engagement.share_count);
    },
    error: function(data) {
      //console.log(data);
      return;
    }
  });
});
</script>
<% end %>
