<div class="gn-line"></div>
<div class="section-title">
	<h4><a href="#">Ultimas Noticias</a></h4>
</div>
<div class="content-left">
	<%= render partial: "/pages/inicio/ultimas_noticias/content-left" %>
</div>
<div class="content-right">
	<%= render partial: "/pages/inicio/ultimas_noticias/content-right" %>
</div>
