
<% @noticias_mais_lidas.each do |noticia| %>
<article class="post">
  <div class="thumb">
    <a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= cl_image_tag(noticia.image.key, :transformation=>[{:width=>748,:height=>443,:crop=>"scale"}]) %></a>
  </div>
  <div class="content">
    <h3><a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= noticia.title %></a></h3>
    <span class="date"><%= l noticia.created_at, format: :short %></span>
  </div>
</article>
<% end %>