<div class="gn-line"></div>
<div class="section-title">
	<h4><a href="#">Mais Lidas</a></h4>
</div>

<div class="content-left">
	<article class="post">
		<%= render partial: "/pages/inicio/mais_lidas/posts" %>
	</article>
</div>

<div class="content-right">
	<%= render partial: "/pages/inicio/mais_lidas/content_right" %>
</div>
