<% noticia_mais_lida = @noticia_mais_lida %>
<div class="thumb">
  <a href="<%= root_url+'noticia/'+noticia_mais_lida.friendly_id %>"><%= cl_image_tag(noticia_mais_lida.image.key, :transformation=>[{:width=>748,:height=>443,:crop=>"scale"}]) %></a>
</div>
<div class="cat">
  <a href="">Não deixe de ler</a>
</div>
<h3><a href="<%= root_url+'noticia/'+noticia_mais_lida.friendly_id %>"><%= noticia_mais_lida.title %></a></h3>
<p class="excerpt-entry"><%= sanitize(truncate(strip_tags(noticia_mais_lida.text),:omission => "... (continua)", :length => 150)) %></p>
<div class="post-meta">
  <span class="author">Por <a href="<%= root_url+'noticia/'+noticia_mais_lida.friendly_id %>"><%= noticia_mais_lida.admin_publisher.name %></a></span>
  <div class="activity">
    <span class="views" id="fb_share_count_1"><%= @noticia_mais_lida.hits %></span>
	<!-- <span class="comment"><a href="<%= root_url+'noticia/'+noticia_mais_lida.friendly_id+'#comments-list' %>"><%= noticia_mais_lida.admin_news_comments.count %></a></span> -->
	<span class="comment" id="comment_fb"><a href="<%= root_url+'noticia/'+noticia_mais_lida.friendly_id+'#comments-list' %>"></a></span>
	<!-- <span class="comment">	
		<a href="">
			<span class="fb-comments-count" data-href="<%= root_url+'noticia/'+noticia_mais_lida.friendly_id %>"></span>
		</a>
	</span>
	-->
  </div>
</div>

<script>
var token = '459725378184662|e67f78b949ab38e07329a3ea3f4c07f9', 
url = '<%= root_url+'noticia/'+noticia_mais_lida.friendly_id %>';
$.ajax({
	url: 'https://graph.facebook.com/v3.0/',
	dataType: 'jsonp',
	type: 'GET',
	data: {fields: 'engagement', access_token: token, id: url},
	success: function(data){
 		$('#comment_fb').append(data.engagement.share_count);
	},
	error: function(data){
		return;
  	}
});
</script>


