<div class="top-wrap">
	<div class="container">
	<div id="hide-menu"></div>
		<div class="row">
			<div class="col-md-4 hide-nav">
				<!--
				<div id="search-header" class="search-header">
					<div class="search-icon"></div>
					<form action="" class="search-form" method="get" role="search">
						<input type="search" title="" name="s" placeholder="Digite a palavra chave e aperte Enter" class="search-field">
						<input type="submit" value="Search" class="search-submit">
					</form>
				</div>
				-->
				<div id="logo" class="logo logo2">
					<a href="" rel="home" title="Categoria">
						<img src="/images/logo.svg" alt="Campinapolis Agora" />
					</a>
				</div>
				<!-- <div class="follow-us">
					<div class="follow-title">
						Follow Us
					</div>
					<ul class="social-links unstyled">
						<li class="facebook"><a href="#">Follow us on Facebook</a></li>
						<li class="twitter"><a href="#">Follow us on Twitter</a></li>
						<li class="google"><a href="#">Follow us on Google</a></li>
						<li class="linkedin"><a href="#">Follow us on Linkedin</a></li>
						<li class="pinterest"><a href="#">Follow us on Pinterest</a></li>
					</ul>
				</div> -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4 title-cat">
				<% if @categoria_nome.nil? == false %>
					<h1 class="title-page"><%= @categoria_nome.titleize %></h1>
				<% else %>
					<% mes = l(@arquivos.first.created_at,format: '%B') %>
					<h1 class="title-page"><%= mes.titleize %></h1>
				<% end %>
			</div><!-- /.col-md-4 -->
			<!-- ####################################################################### -->
			<!-- <div class="col-md-4 user-area">
				<div class="member-area">
					<div class="member">
						<div class="welcome">
							Welcome <span class="name">Maria</span>
							<div class="member-options">
								<div class="avatar">
									<div class="thumb">
										<img src="images/user.jpg" alt="image">
									</div>
									<span class="fullname">Maria Sharapova</span>
								</div>
								<ul class="options">
									<li><a href="#">My Profile</a></li>
									<li><a href="#">My Account</a></li>
									<li><a href="#">My Saved Items</a></li>
								</ul>
								<div class="logout"><a href="#">Logout</a></div>
							</div>
						</div>

					</div>
				</div>
			</div> --><!-- /.col-md-4 -->
			<!-- ####################################################################### -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div><!-- /.top-wrap -->
