<div class="container">
	<div class="row">
		
		<div class="col-md-8">
			<div class="post-wrap">
				<%= render partial: "pages/categoria/post_wrap" %>
			</div>
		</div>

		<div class="col-md-4">
			<div class="barra_lateral-widget-1">

				<!-- /.widget-ads -->
				<div class="widget widget-ads">
					<%= render partial: "pages/inicio/barra_lateral/ad" %>
				</div>
				
				<!-- /.widget-tabs2 -->
				<div class="widget widget-tabs2">
  					<%= render partial: "/pages/inicio/barra_lateral/tabs2" %>	
				</div>
				
				<!-- /.widget-popular -->
				<div class="widget widget-most-popular">
					<h5 class="widget-title">Mais Populares</h5>
					<%= render partial: "/pages/inicio/barra_lateral/most-popular" %>
				</div>

				<!-- /.widget-tabs -->
				<div class="widget widget-tabs">
					<%= render partial: "/pages/inicio/barra_lateral/membros" %>
				</div>
				
				<!-- /.widget-follow-us -->
				<div class="widget widget-follow-us">
	 				<%= render partial: "/pages/inicio/barra_lateral/follow-us" %>
				</div>

				
				<!-- /.widget-categories -->
				<div class="widget widget-categories gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
  					<%= render partial: "/pages/inicio/barra_lateral/categories" %>
				</div>

				
				<!-- /.widget-subscribe -->
				<div class="widget widget-subscribe gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
					<%= render partial: "/pages/inicio/barra_lateral/subscribe" %>
				</div>
				<!-- /.widget-subscribe -->
			</div>
		</div>
	</div>
</div>
