<a href="#" class="close-nav"><i class="fa fa-times"></i></a>
<ul>
	<li class="header-menu">Principal</li>
	<li class="has-sub"><a href="/">Inicio</a>
		<ul class="sub-menu">
			<%# <li class="header-menu">Entertainment</li> %>
			<li><a href="/enquete">Enquete</a>
			<li><a href="/galeria">Galeria</a>
			<li><a href="/contato">Contato</a>
		</ul>
	</li>
	<!-- <li><a href="#">Você tem que ler</a></li> -->
	<%# <li><a href="#">Tech</a></li> %>
	<%# <li><a href="#">Business</a></li> %>
	<%# <li><a href="#">Social Media</a></li> %>
	<!-- <li class="header-menu">Links Rapidos</li> -->
	<%# <li><a href="#">Opinion</a></li> %>
	<!-- <li><a href="#">Coluna Social</a></li> -->
	<!-- <li><a href="#">Policial</a></li> -->
	<!-- <li><a href="#">Politica</a></li> -->
	<%# <li><a href="#">Sex</a></li> %>
	<%# <li class="header-menu">More</li> %>
	<%# <li><a href="#">Markets</a></li> %>
	<%# <li><a href="#">Sports</a></li> %>
	<%# <li><a href="#">Sudoku</a></li> %>
	<%# <li><a href="#">Girls</a></li> %>
	<%# <li><a href="#">Games</a></li> %>
</ul>