<% @post = @arquivos if @post.nil? == true %>
<% @post.order(created_at: :desc).each do |post| %>
<article class="post">
	<div class="thumb">
		<% if post.class == Admin::Article %>
			<a href="">
				<%
				if post.user_img.nil? then
					img = Cloudinary::Uploader.upload("https://avatars.io/facebook/"+post.admin_publisher.admin_user.uid)
					post.user_img = img["public_id"]
					post.save
				end
  				%>
				<%# img = "picture_hwcz8z" if user.uid == "2552037301527881" %>
				<!-- <img src="/images/artigos.png" alt="img"> -->
				<%= cl_image_tag("artigos_jjm4d3", :overlay=>post.user_img,:height=>50, :width=>50,:gravity=>"west",:y=>-20,:x=>110) %>
			</a>
		<% end %>
		<% if post.class == Admin::News %>
			<a href=""><%= cl_image_tag(post.image.key, :transformation=>[{:width=>344,:height=>230,:crop=>"fill"}])%> </a>
		<% end %>	
	</div>
	<div class="content">
		<div class="cat">
			<a href="<%= root_path+'categoria/' %>"><%= @view_id %></a>
		</div>
		<h3>
		<% if post.class == Admin::News %>
			<a href="<%= root_path+'noticia/'+post.slug %>"><%= post.title.titleize %></a>
		<% end %>
		<% if post.class == Admin::Article %>
			<a href="<%= root_path+'artigo/'+post.slug %>"><%= post.title.titleize %></a>
		<% end %>
		</h3>
		<p class="excerpt-entry"><%= post.subtitle %></p>
		<div class="activity">
			<!-- <span class="views">345</span><span class="comment"><a href="#">15</a></span> -->
			<span class="comment"><a href="<%= root_url+'noticia/'+post.friendly_id+'#comments-list' %>"><%= post.admin_news_comments.count %></a></span>
		</div>
	</div>
</article>
<% end %>
