/** Colors code:
  * Main: #0183c7
  * Darker: #00a6fd
  * Brighter: #329dd6
  * Hover-Button: #0173af;
*/


/* Main Color */

a,
a:hover,
a:active,
#mainnav ul.sub-menu>li>a:hover,
#mainnav>ul>li>ul>li.active>a,
#mainnav ul.sub-menu>li.has-children>a:hover:after,
#mainnav li.gn-mega-menu .mega-item-wrap .mega-item h5 a:hover,
#mainnav li.gn-mega-menu .nav-mega-item a:hover,
#mainnav-mobi .social-mobi a:hover,
.member-area .options li a:hover,
.activity span a:hover,
.activity span.comment a:hover:before,
.banner .banner-items h4 a:hover,
.sidebar-widget-1 .widget-title,
.widget-most-popular .order,
.most-popular .order,
.widget-categories li a:hover,
.comments-list .comment-head a:hover,
.go-top:hover,
.switcher-container span a,
.toggle .toggle-title.active:before,
.navigation-panel .close-nav:hover,
.navigation-panel .close-nav:hover,
.contact-page .contact-social li:hover i,
.about-page .about-links li a:hover {
    color: #0183c7;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#mainnav-mobi>ul>li.menu-addon span.signup-link a,
.top-wrap,
.toggle-panel,
.elements-box.red,
.tabs .tags a:hover,
.posts .load-comment a,
.gn-button,
.dropdown li:hover,
.error-wrap #searchsubmit,
.tabs.style2 .content-tab.scroll li:hover:before,
.about-page .about-twitter .follow-us,
.flex-control-nav li a.flex-active {
    background-color: #0183c7;
}

.floatPanel #sidebar2 {
    border-right: 14px solid #0183c7;
}

.gn-gallery #gn-carousel ul.slides li.flex-active-slide img {
    border: 2px solid #0183c7;
}


/* Darker Color */

#mainnav>ul>li>a:hover,
#mainnav>ul>li>a.active,
#mainnav>ul>li.has-children>a:hover:after,
#mainnav>ul>li.has-children>a.active:after,
#mainnav>ul>li.gn-mega-menu>a:hover:after,
.trending-posts .post h3 a:hover,
.widget-recent .content a:hover,
.tabs .comments p a:hover,
.tabs .pop-posts .text a:hover,
.footer-widgets .widget-social .email:hover,
.footer-widgets .widget-twitter li a:hover,
.footer-widgets .widget-list li a:hover,
.widget-most-popular li a:hover,
.most-popular li a:hover {
    color: #00a6fd;
}


/* Brighter Color */

.editors-posts .post-meta a,
.relate-posts .post-meta a,
.posts .meta .author a {
    color: #329dd6;
}


/* Hover-Button Color */

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.error-wrap #searchsubmit:hover,
.posts .load-comment a:hover,
.gn-button:hover,
.gn-button:focus,
.gn-button:active,
.gn-button.hover,
.gn-button.press,
.gn-button.pause {
    background-color: #0173af;
}