<!-- /.submenu -->
<div class="sub-menu">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mega-item-wrap">
					<% if not @noticias_mega_menu.nil? %>
					<% @noticias_mega_menu.each do |noticia| %>
						<div class="mega-item">
							<%= cl_image_tag(noticia.image.key, :transformation=>[{:width=>344,:height=>230,:crop=>"scale"}])
							%>
							<h5><a href="<%= "/"+'noticia/'+noticia.friendly_id %>"><%= noticia.title.titleize %></a></h5>
						</div>
					<% end %>
					<% end %>
				</div>
				<!-- <div class="nav-mega-item">
					Veja também:
					<a href="#">All</a>
					<a href="#">Dev&amp;Design</a>
					<a href="#">Mobile</a>
				</div> -->
			</div>
		</div>
	</div>
</div>