<!-- menu -->
<ul class="menu">
	<li class="has-children"><a class="active" href="/">Início</a>
		<!-- submenu -->
		<ul class="sub-menu">
			<% enquete = Admin::Survey.take(1) %>
			<% if enquete.count > 0 %>
				<% result = Rapidfire::Survey.where(id: enquete[0].survey_id) %>
				<% if not result[0].nil? %>
					<li><a href="/enquete/surveys/<%= result[0].id %>/attempts/new">Enquete</a></li>
				<% else %>
					<li><a href="/">Enquete</a></li>
				<% end %>
			<% else %>
				<li><a href="/">Enquete</a></li>
			<% end %>	
			<li><a href="/galeria">Galeria de imagens</a></li>
			<%# <li><a href="">Videos</a></li> %>
			<li><a href="/contato">Contato</a></li>
			<li><a href="/sobre">Sobre nós</a></li>
			<!-- <li class="has-children"><a href="">Parceiros</a> -->
				<!-- submenu -->
				<!-- <ul class="sub-menu"> -->
					<!-- <li><a href="">Sublevel 1</a></li> -->
				<!-- </ul> -->
			<!-- </li> -->
		</ul>
	</li>

  	<li class="has-children"><a href="">Categorias</a>
		<!-- submenu -->
		<ul class="sub-menu">
			<li class="has-children"><a href="#">Noticias</a>
				<ul class="sub-menu">
					<% @categorias_em_noticias.each do |categoria| %>
						<li><a href="<%= '/categoria/noticias/'+categoria.friendly_id %>"><%= categoria.name.titleize %></a></li>
					<% end %>
				</ul><!-- /.submenu -->
			</li>
			<li class="has-children"><a href="#">Artigos</a>
				<ul class="sub-menu">
					<% @categorias_em_artigos.each do |categoria| %>
						<li><a href="<%= '/categoria/artigos/'+categoria.friendly_id %>"><%= categoria.name.titleize %></a></li>
					<% end %>
				</ul><!-- /.submenu -->
			</li>
			<%# if not @categorias.nil? %>
			<%# @categorias.each do |categoria| %>
				<!-- <li><a href="<%#= root_url+'categoria-sembarra/'+categoria.friendly_id %>"><%#= categoria.name.titleize %></a></li> -->
			<%# end %>
			<%# end %>
		</ul>
	</li>


  	<li class="has-children"><a href="">Artigos</a>
		<ul class="sub-menu">
			<% if not @autores.nil? %>
			<% @autores.each do |autor| %>
				<li><a href="<%= '/artigo/autor/'+autor.friendly_id %>"><%= autor.name %></a></li>
			<% end %>
			<% end %>
		</ul>
  	</li>

	<!-- EDITORIAL -->
	<!-- <li class="has-children"><a href="">Editorial</a>
		<ul class="sub-menu">
			<li><a href="">Nota</a></li>
			<li><a href="">Carta do Leitor</a></li>
		</ul>
	</li> -->

	<li class="gn-mega-menu"><a href="">Notícias</a>
		<%= render "layouts/mainnav/gn-mega-menu" %>
	</li>

	<li><a href="/eventos">Eventos</a></li>
	<li><a href="/videos">Videos</a></li>
</ul>
