<h2>Registrar Novo Usuário</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name,label: "Nome",
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "nome completo" }%>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,label:"Senha",
                required: true,
                hint: ("minimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
                input_html: { autocomplete: "nova senha" } %>
    <%= f.input :password_confirmation,label: "Confirmação da senha",
                required: true,
                input_html: { autocomplete: "nova senha" } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Registrar" %>
  </div>
<% end %>
<%#= render "admin/users/shared/links" %>
