<% anuncios_listar.each do |ad| %>
	<%
	#a = Admin::Advertisement.all
	#a.each do |b|
	#	b.thumb = ""
	#	b.save
	#end
	%>

	<% if ad.image.key.nil? %>
	    <% url = "https://fakeimg.pl/820x320/0183c7/fff/?text="+ad.customer.upcase+"&font=verdana" %>
		<%
		  a = URI::encode(url)
		  b = Cloudinary::Uploader.upload(a,:folder => "campinapolisagora/ad/",:public_id => ad.customer)
		  ad.thumb = b["url"]
		  ad.save
		%>
	<% end %>
	<a href="<%= ad.link %>">
	<% if not ad.image.key.nil? %>
		<%= cl_image_tag(ad.image.key, :transformation=>[{:width=>420,:height=>420,:crop=>"scale"}])%>
	<% else %>
		<%= cl_image_tag("campinapolisagora/ad/"+ad.customer, :transformation=>[{:width=>820,:height=>320,:crop=>"scale"}])%>
	<% end %>
	</a><p class="text-ad">Anuncios</p>
<% end %>
