<h5 class="widget-title">Arquivos</h5>
<ul class="cat-list">
  <% @noticias_arquivadas.each do |grupo| %>
    <% cont = 0 %>
    <% grupo.each do |mes| %>
      <% cont = cont + 1 %>
        <% if cont == 1 %>
          <li><a href="/categoria/arquivos/<%= l(mes,format: '%B') %>"><%= l(mes,format: '%B') if cont == 1 %>  <%= Time.current.year %> <span>(<%= grupo[1].count %>)</span></a></li>
        <% end %>
    <% end %>
  <% end %>
</ul>
