<div class="widget widget-ads gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
	<%= render partial: "pages/inicio/barra_lateral/ad" %>
</div>
<!-- /.widget-ads -->

<div class="widget widget-subscribe gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
	<%= render partial: "/pages/inicio/barra_lateral/subscribe" %>
</div>
<!-- /.widget-subscribe -->


<div class="widget widget-tabs gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
	<%= render partial: "/pages/inicio/barra_lateral/membros" %>
</div><!-- /.widget-tabs -->

<div class="widget widget-categories gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
  <%= render partial: "/pages/inicio/barra_lateral/categories" %>
</div>
<!-- /.widget-categories -->

<!-- <div class="widget widget-most-popular gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
	<h5 class="widget-title">Mais Populares</h5>
	<%#= render partial: "/pages/inicio/barra_lateral/most-popular" %>
</div> -->
<!-- /.widget-popular -->

<div class="widget widget-follow-us gn-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
	 <%= render partial: "/pages/inicio/barra_lateral/follow-us" %>
</div>
<!-- /.widget-follow-us -->

<div class="widget widget-tabs2">
  <%= render partial: "/pages/inicio/barra_lateral/tabs2" %>	
</div>
<!-- /.widget-tabs2 -->
