<div class="tabs">
  <ul class="menu-tab">
    <li class="active"><a href="#">Membros</a></li>
    <!-- <li><a href="#">Populares</a></li> -->
    <!-- <li><a href="#">Assuntos</a></li> -->
  </ul><!-- /.menu-tab -->
  <div class="content-tab">
    <div class="content">
      <ul class="comments">
        <% 
        para_deletar = Admin::Publisher.find(5)
        %>
        <%@membros.reject{|item| item == para_deletar}.each do |membro| %>
        <li>
          <div class="avatar">
            <%
              url = Admin::User.find(membro.admin_user_id).image+"?redirect=0" 
              begin
                resp = RestClient.get(url)
              rescue RestClient::Unauthorized, RestClient::Forbidden => err
                  puts 'Access denied'
                  return err.response
              rescue RestClient::ImATeapot => err
                  puts 'The server is a teapot!'
                  return err.response
              else
                obj = JSON.parse(resp.body)
              end
            %>
            <a href="#"><img src="<%= obj["data"]["url"] %>" alt="image"></a>
          </div>
          <p><a href="#"><%= Admin::User.find(membro.admin_user_id).name %></a> <!-- há <%#= distance_of_time_in_words(Time.now,comentario[:comentario].created_at) %></p> -->
        </li>
        <% end %>
      </ul>
    </div>
    <!--<div class="content">
      <ul class="pop-posts">
        <li>
          <div class="thumb">
            <a href="#"><img alt="" src="images/thumbs/1.jpg"></a>
          </div>
          <div class="text">
            <a href="#">?</a>
            <i>Aug 1, 2014</i>
          </div>
        </li>
        <li>
          <div class="thumb">
            <a href="#"><img alt="" src="images/thumbs/1.jpg"></a>
          </div>
          <div class="text">
            <a href="#">?</a>
            <i>Aug 1, 2014</i>
          </div>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="tags">
        <a href="#">business</a>
        <a href="#">themeforest</a>
      </div>
    </div>
  </div>
  -->
</div>
