<% cont = 0 %>
<% @noticias_cinco_mais_lidas.each do |noticia| %>
<% cont += 1 %>
<ul>
  <li>
    <div class="order"><%= cont %></div>
    <p><a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= noticia.title %></a></p>
  </li>
</ul>
<% end %>
