<h5 class="widget-title">Boletim de Noticias</h5>
<p>Se increva para receber o boletim de noticias do Campinapolis Agora, enviamos toda segunda.</p>
<form method="post" action="/admin/newsletters" id="subscribe-form"  >
<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
  <div id="subscribe-content">
    <div class="input">
      <input type="text" id="subscribe-email" name="admin_newsletter[mail]" placeholder="Email">
    </div>
    <div class="button">
      <button type="submit" id="subscribe-button" class="" title="Subscribe now">Inscrever</button>
    </div>
  </div>
  <div id="subscribe-msg"></div>
</form>
