<div class="tabs style2">
  <ul class="menu-tab">
    <li class="active"><a href="#">Noticias</a></li>
    <li><a href="#">Artigos</a></li>
  </ul>
  <!-- /.menu-tab -->
  <div class="content-tab">
    <div class="content">
      <ul class="most-popular">
        <% cont = 0 %>
        <% noticias_cinco_aleatorias.each do |noticia| %>
        <% cont += 1 %>
        <li>
          <div class="order"><%= cont %></div>
          <p><a href="<%= root_url+'noticia/'+noticia.friendly_id %>"><%= noticia.title %></a></p>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.content-list -->

    <div class="content">
      <ul class="most-popular">
        <% cont = 0 %>
        <% artigos_cinco_aleatorios.each do |artigo| %>
        <% cont += 1 %>
        <li>
          <div class="order"><%= cont %></div>
          <p><a href="<%= root_url+'artigo/'+artigo.friendly_id %>"><%= artigo.title %></a></p>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.comments -->
  </div>
  <!-- /.content-tab -->
</div>
<!-- /.tabs -->
