<%= form_with(model: admin_newsletter, local: true) do |form| %>
  <% if admin_newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_newsletter.errors.count, "error") %> prohibited this admin_newsletter from being saved:</h2>

      <ul>
      <% admin_newsletter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
