<p id="notice"><%= notice %></p>

<h1>Admin Newsletters</h1>

<table>
  <thead>
    <tr>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_newsletters.each do |admin_newsletter| %>
      <tr>
        <td><%= admin_newsletter.mail %></td>
        <td><%= link_to 'Show', admin_newsletter %></td>
        <td><%= link_to 'Edit', edit_admin_newsletter_path(admin_newsletter) %></td>
        <td><%= link_to 'Destroy', admin_newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Newsletter', new_admin_newsletter_path %>
