<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @admin_newsletter.mail %>
</p>

<%= link_to 'Edit', edit_admin_newsletter_path(@admin_newsletter) %> |
<%= link_to 'Back', admin_newsletters_path %>
