<h2>Mande um Alô!</h2>
<div id="form-messages" role="alert"></div>
<form id="contact-form" data-remote="true" class="contact-form" method="post" action="/admin/contacts/">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
	<div class="input-wrap">
		<input type="text" value="" tabindex="1" placeholder="Nome *" name="admin_contact[name]" id="name">
	</div>
	<div class="input-wrap last">
		<input type="text" value="" tabindex="1" placeholder="Sobrenome" name="admin_contact[second_name]" id="second-name">
	</div>
	<div class="input-wrap">
		<input type="text" value="" tabindex="3" placeholder="Email *" name="admin_contact[email]" id="email">
	</div>
	<div class="input-wrap last">
		<input type="text" value="" tabindex="4" placeholder="Facebook" name="admin_contact[social]" id="website">
	</div>
	<div class="message-wrap">
		<textarea class="" tabindex="5" placeholder="Menssagem *" name="admin_contact[message]" id="message"></textarea>
	</div>
	<div class="send-wrap">
		<button type="submit" class="submit">Enviar</button>
	</div>
</form>

<script>
$( document ).ready(function() {
	$(function() {
    var form = $('#contact-form');
    var formMessages = $('#form-messages');
    $(form).submit(function(event) {
    	var formData = $(form).serialize();
       	event.preventDefault();
    	$.ajax({
    		async: false,
    		type: 'POST',
    		url: $(form).attr('action'),
    		data: formData
		})
		.done(function(response) {
    		$(formMessages).removeClass('alert alert-error');
    		$(formMessages).addClass('alert alert-success');
			$(formMessages).text("Contato enviado com sucesso!");
    	})
		.fail(function(data) {
			$(formMessages).removeClass('alert alert-success');
    		$(formMessages).addClass('alert alert-error');
			var resp = JSON.parse(data.responseText);
			var message = '';
			if (typeof resp["name"] !== 'undefined'){
				message = resp["name"][0];
			}
			if (typeof resp["email"] !== 'undefined') {
				message = message + '\n' + resp["email"][0];
			}
			if (typeof resp["message"] !== 'undefined') {
				message = message + '\n' + resp["message"][0];
			}
			$(formMessages).text(message);
		})
	});
});
});
</script>
