<h2><%= t('rapidfire.attempts.header') -%></h2>
<hr/>
<p><%= @survey.introduction %></p>
<%= form_for([@survey, @attempt_builder], :class => 'contact-form') do |f| %>
  <%- @attempt_builder.answers.each do |answer| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
      <%= render_answer_form_helper(answer, answer_form) %>
    <% end %>
  <% end %>
  <br>
  <div id="resultado"></div>
  <br>
  <%= f.submit submit_text %>
  <button class="repair__button" type="submit" value="voltar">Voltar</button>
  <%# <% <button onclick="redirectTo('https://campinapolisagora.com.br')">Voltar</button> %>
<% end %>
<%# <form action="/">
    <button class="repair__button" type="submit" onclick='this.form.action="/";'>Voltar</button>
</form> %>

<script type="text/javascript">
jQuery.ajax({
  async: false,
  url: '<%= request.original_url.sub! 'attempts/new', 'results'+'.json' %>',
  success: function (result) {
    var resultado = $('#resultado');
    //$(resultado).text(result[0]["question_text"]);
    const values = Object.entries(result[0]["results"]);
    var div = document.getElementById('resultado');
    div.innerHTML += 'RESULTADO: ';
    for (const [resposta,valor] of values) {
      div.innerHTML += `${resposta} ${valor}`;
    }
  }
});
</script>

