<body>
  <!-- Header -->
  <header id="header" class="header">
    <%
    @categorias_em_noticias = ApplicationController::categorias_distintas("noticia")
		@categorias_em_artigos = ApplicationController::categorias_distintas("artigo")
		@autores = Admin::Publisher.where(:id => Admin::Article.select(:admin_publisher_id).map(&:admin_publisher_id))
		@noticias = Admin::News.all
		@comercial = Admin::Advertisement.limit(1).order("RANDOM()")
    %>
    <%= render partial: "layouts/header" %>
  </header>
  <div class="container">
    <div class="col-md-12">
      <h3 class="elements-title">Enquete</h3>
      <!-- <section class="section-element"> -->

        <!-- <div class="input-wrap">
          <input type="text" id="input_2" name="input_2" class="input-control" placeholder="Person of the 2013" />
          <span></span>
        </div> -->
        <!-- <div class="check-wrap">
          <div class="radios">
            <span>Radio</span>
            <input type="radio" name="radiog_dark" id="radio1" class="css-radio" checked="checked"/><label for="radio1" class="css-label2"></label>
            <input type="radio" name="radiog_dark" id="radio2" class="css-radio" /><label for="radio2" class="css-label2"></label>
          </div>
          <div class="checks">
            <span>Checkbox</span>
            <input type="checkbox" name="check1" id="check1" class="css-checkbox" checked="checked"/><label for="check1" class="css-label"></label>
            <input type="checkbox" name="check2" id="check2" class="css-checkbox" /><label for="check2" class="css-label"></label>
          </div>
        </div> -->
      <!-- </section> -->
    </div><!-- /.col-md-12 -->
    <%= render partial: 'form', locals: { submit_text: t('rapidfire.attempts.save') } %>
  </div>
  </br>
  <!-- Footer -->
  <footer id="footer">
    <%= render partial: "layouts/footer" %>
  </footer>
</body>
</html>
