<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_video.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @admin_video.date %>
</p>

<%= link_to 'Edit', edit_admin_video_path(@admin_video) %> |
<%= link_to 'Back', admin_videos_path %>
