<!--
<div class="gn-line"></div>
<div class="section-title">
	<h4><a href="#">Highlights</a></h4>
</div>
<article class="post">
	<div class="thumb">
		<a href="#"><img src="images/thumbs/7.jpg" alt="img"></a>
	</div>
	<div class="cat">
		<a href="">Social media</a>
	</div>
	<h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
	<div class="activity">
		<span class="views">12</span><span class="comment"><a href="#">0</a></span>
	</div>
</article>
<article class="post last">
	<div class="thumb">
		<a href="#"><img src="images/thumbs/7.jpg" alt="img"></a>
	</div>
	<div class="cat">
		<a href="">Social media</a>
	</div>
	<h3><a href="#">I'm not claiming the multiplier is precisely 36, but it is certainly more than 10...</a></h3>
	<div class="activity">
		<span class="views">12</span><span class="comment"><a href="#">0</a></span>
	</div>
</article>
<article class="post">
	<div class="thumb">
		<a href="#"><img src="images/thumbs/7.jpg" alt="img"></a>
	</div>
	<div class="cat">
		<a href="">Social media</a>
	</div>
	<h3><a href="#">Like all back-of-the-envelope calculations, this one has a lot of wiggle room.</a></h3>
	<div class="activity">
		<span class="views">12</span><span class="comment"><a href="#">0</a></span>
	</div>
</article>
<article class="post margin-b0 last">
	<div class="thumb">
		<a href="#"><img src="images/thumbs/7.jpg" alt="img"></a>
	</div>
	<div class="cat">
		<a href="">Social media</a>
	</div>
	<h3><a href="#">I'm not claiming the multiplier is precisely 36, but it is certainly more than 10...</a></h3>
	<div class="activity">
		<span class="views">12</span><span class="comment"><a href="#">0</a></span>
	</div>
</article>
-->