<header id="header" class="header">
  <%= render partial: "layouts/header" %>
</header>

<div class="container">
	<div class="row">
    </br>
    <%= render partial: "/pages/galeria/main" %>
  </div>
</div>
</br>

<footer id="footer">
  <%= render partial: "layouts/footer" %>	
</footer>

<a class="go-top">
  <i class="fa fa-chevron-up"></i>
</a>