<div class="footer-widgets">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="widget widget-brand">
					<div class="logo logo-footer">
						<a href="/"><img src="/images/logo.svg" alt="Campinapolis Agora"></a>
					</div>
					<p>Noticias que afetam você. Se importa pra você, importa pra nós.</p>
				</div><!-- /.widget-brand -->
				<div class="widget widget-social">
					<h5 class="widget-title">Siga-nos</h5>
					<div class="social-list">
						<a href="https://fb.me/campinapolisagora"><img src="/images/facebook.svg" alt="image"></a>
						<!-- <a href="#"><img src="/images/twitter.svg" alt="image"></a> -->
						<!-- <a href="#"><img src="/images/youtube.svg" alt="image"></a> -->
						<!-- <a href="#"><img src="/images/dribbble.svg" alt="image"></a> -->
					</div>
					<a class="email" href="#">contato@campinapolisagora.com.br</a>
				</div><!-- /.widget-social -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-4">
				<div class="widget widget-twitter">
					<h5 class="widget-title">Principal</h5>
					<ul class="links-list">
						<!--
						<li><%#= @comentarios_rodape[0].name %> - <%= sanitize(truncate(strip_tags(@comentarios_rodape[0].message),:omission => "...", :length => 30)) %></li>
						<li><%#= @comentarios_rodape[1].name %> - <%= sanitize(truncate(strip_tags(@comentarios_rodape[1].message),:omission => "...", :length => 30)) %></li>
						<li><%#= @comentarios_rodape[2].name %> - <%= sanitize(truncate(strip_tags(@comentarios_rodape[2].message),:omission => "...", :length => 30)) %></li>
						<li><%#= @comentarios_rodape[3].name %> - <%= sanitize(truncate(strip_tags(@comentarios_rodape[3].message),:omission => "...", :length => 30)) %></li>
						<li><%#= @comentarios_rodape[4].name %> - <%= sanitize(truncate(strip_tags(@comentarios_rodape[4].message),:omission => "...", :length => 30)) %></li>
						<li><%#= @comentarios_rodape[5].name %> - <%= sanitize(truncate(strip_tags(@comentarios_rodape[5].message),:omission => "...", :length => 30)) %></li>
						-->
						<li><a href="/pesquisa/ultimas_noticias">Ultimas Noticias</a></li>
     					<li><a href="/pesquisa/todas_as_noticias">Todas As Noticias</a></li>
						<li><a href="/pesquisa/mais_lidas">Mais Lidas</a></li>
						<!--<li><a href="/pesquisa/eventos">Eventos Recentes</a></li>-->
						<!--<li><a href="/pesquisa/videos">Videos Recentes</a></li>-->
					</ul>
				</div><!-- /.widget-twitter -->
			</div><!-- /.col-md-4 -->
			<div class="col-md-2">
				<div class="widget widget-list">
					<h5 class="widget-title">Categorias</h5>
					<ul class="links-list">
						<li><a href="#"><%= @principais[0].name.titleize %></a></li>
						<li><a href="#"><%= @principais[1].name.titleize %></a></li>
						<li><a href="#"><%= @principais[2].name.titleize %></a></li>
						<li><a href="#"><%= @principais[3].name.titleize %></a></li>
						<li><a href="#"><%= @principais[4].name.titleize %></a></li>
					</ul>
				</div><!-- /.widget-list -->
			</div><!-- /.col-md-2 -->
			<div class="col-md-2">
				<div class="widget widget-list">
					<h5 class="widget-title">Sobre Nós</h5>
					<ul class="links-list">
						<li><a href="/contato">Contato</a></li>
						<li><a href="/sobre">Sobre</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.footer-widgets -->
<div class="footer-copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				&copy; 2019 Campinapolis.com
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>
