<div class="top-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="logo" class="logo">
					<a href="/" rel="inicio" title="Inicio">
						<!-- <img src="images/logo.svg" alt="Good News" /> -->
						<img src="/images/logo.svg" alt="Campinapolis Agora" />
					</a>
				</div>
				<div class="follow-us">
					<div class="follow-title">Siga-nos</div>
					<ul class="social-links">
						<li class="facebook"><a href="https://fb.me/campinapolisagora">Siga-nos no Facebook</a></li>
						<%# <li class="twitter"><a href="#">Siga-nos no Twitter</a></li> %>
						<%# <li class="google"><a href="#">Siga-nos no Google</a></li> %>
						<!-- <li class="linkedin"><a href="#">Siga-nos no Linkedin</a></li> -->
						<!-- <li class="pinterest"><a href="#">Siga-nos no Pinterest</a></li> -->
					</ul>
				</div>
			</div>
			<%= render partial: "layouts/mainnav/social" %>
		</div>
	</div>
</div>

<div class="header-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
                <!-- nav -->
				<nav id="mainnav" class="mainnav">
					<%= render "layouts/mainnav/index" %>
				</nav>
			</div>
			<div class="col-md-3">
				<div class="search-wrap">
					<!-- <div class="search-icon"></div> --><!-- //mobile search button -->
					<form action="/pesquisa" id="searchform" class="search-form" method="get">
						<input type="text" name="q" placeholder="Pesquisar" class="search-field">
						<input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
						<a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
