<!-- Basic Page Needs -->
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<!-- <title>Good News — News &amp; Magazine Template</title> -->
<title>Campinápolis Agora — Noticias da Cidade e Região</title> 
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Bootstrap  -->
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" >
<!-- Theme Style -->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<!-- Colors -->
<link rel="stylesheet" type="text/css" href="/stylesheets/colors/color2.css" id="colors">
<!-- Animation Style -->
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
<!-- Favicon and touch icons  -->
<link href="/icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="/icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="/icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="/icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
<link href="/icon/favicon.png" rel="shortcut icon">
<!--[if lt IE 9]>
	<script src="/javascript/html5shiv.js"></script>
	<script src="/javascript/respond.min.js"></script>
<![endif]-->
