<script type="text/javascript" src="javascript/jquery.min.js"></script>
<script type="text/javascript" src="javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="javascript/jquery.easing.js"></script>
<script type="text/javascript" src="javascript/matchMedia.js"></script>
<script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
<script type="text/javascript" src="javascript/jquery.flexslider.js"></script>
<script type="text/javascript" src="javascript/jquery.transit.js"></script>
<script type="text/javascript" src="javascript/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="javascript/jquery.tweet.min.js"></script>
<script type="text/javascript" src="javascript/jquery.doubletaptogo.js"></script>
<script type="text/javascript" src="javascript/smoothscroll.js"></script>
<script type="text/javascript" src="javascript/main.js"></script>
 
