<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Campinapolis Agora" %></title>
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="description" content="">
  <meta name="keywords" content="noticias">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- FACEBOOK -->
  <% if(params.has_key?(:id)) %>
    <% if not @noticia.blank? %>
        <meta property="og:type" content="article">
        <meta property="og:title" content="<%= @noticia.title %>">
        <meta property="og:description" content="<%= @noticia.subtitle %>">
        <meta property="og:url" content="<%= root_url+'noticia/'+@noticia.friendly_id %>">
        <meta property="og:image" content="<%= cl_image_path(@noticia.image.key, :transformation=>[{:width=>748,:height=>443,:crop=>"scale"}]) %>">
        <meta property="fb:app_id" content="459725378184662">
        <meta property="og:image:alt" content="alt">
    <% end %>
  <% end %>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/colors/color2.css" id="colors">
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href="/icon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="/icon/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="/icon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="/icon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
  <link href="/icon/favicon.png" rel="shortcut icon">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <script src="/bower_components/lodash/lodash.js" type="text/javascript"></script> 
  <script src="/bower_components/cloudinary-core/cloudinary-core.js" type="text/javascript"></script>
  <%= render 'application/favicon' %>
  <!--[if lt IE 9]>
  <script src="/javascript/html5shiv.js"></script>
  <script src="/javascript/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<%= '<body class="change-panel"'.html_safe if controller_name == "artigo" %>
<%= '<body>'.html_safe if controller_name == "inicio" %>
<%= '<body>'.html_safe if controller_name == "noticia" %>
<%= '<body class="hide-navigation">'.html_safe if controller_name == "categoria" %>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v4.0&appId=459725378184662&autoLogAppEvents=1"></script>
<%= yield %>
<script type="text/javascript" src="/javascript/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.easing.js"></script>
<script type="text/javascript" src="/javascript/matchMedia.js"></script>
<script type="text/javascript" src="/javascript/jquery-waypoints.js"></script>
<script type="text/javascript" src="/javascript/jquery.flexslider.js"></script>
<script type="text/javascript" src="/javascript/jquery.transit.js"></script>
<script type="text/javascript" src="/javascript/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.tweet.min.js"></script>
<script type="text/javascript" src="/javascript/jquery.doubletaptogo.js"></script>
<script type="text/javascript" src="/javascript/smoothscroll.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/javascript/gmap3.min.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>
<%= '</body>'.html_safe %>
<%= '</html>'.html_safe %>
